.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 60px 40px;
  font-family: var(--font-geist-sans);
  background-color: #000;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  padding: 4rem 6rem;
  box-sizing: border-box;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.main {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 0 #000;
  max-width: 80rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.devinfoContainer {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  color: #333;
  background-color: #000;
}

.errorCode {
  margin: 0;
  /* font-size: 2.4rem; */
  color: #fff;
  margin-bottom: 1.6rem;
  position: relative;
  display: inline-block;
  /* animation: glitch 1s infinite; */
}

.errorType {
  display: inline-block;
  position: relative;
}

.devinfoLine {
  color: #fff;
  margin-bottom: 8px;
}

.devinfoLine:last-child {
  margin-bottom: 0;
}

.devinfoLine .code,
.code {
  color: #fff;
  font-family: var(--font-geist-mono), monospace;
}

.ownerError {
  text-decoration: none;
  color: inherit;
  transition: none;
  position: relative;
  display: inline-block;
  background-color: transparent;
}

.ownerError::after {
  content: none;
}

.ownerError:hover::after {
  transform: none;
}

.ownerError .note {
  border: 1px solid #ec3750;
  background-color: transparent;
  color: #ec3750;
  padding: 8pt 16pt;
  border-radius: 5px;
  text-decoration: none;
}

.note {
  padding: 8pt 16pt;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.8;
  color: #fff;
  position: relative;
  z-index: 1;
}

.bombTimerOverlay {
  position: absolute;
  top: 25%;
  left: 40%;
  transform: rotate(-10deg);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 8px;
  z-index: 1000;
}

@media (max-width: 768px) {
  .bombTimerOverlay {
    top: 30%;
    left: 25%;
    transform: rotate(-5deg);
    max-width: 250px;
  }
}

@media (max-width: 500px) {
  .bombTimerOverlay {
    left: 15%;
    transform: rotate(-2deg);
  }
}

/* @keyframes glitch {
  0% {
    transform: none;
    text-shadow: 2px 0 red;
  }
  20% {
    transform: skew(0.5deg);
    text-shadow: -2px 0 blue;
  }
  40% {
    transform: skew(-0.5deg);
    text-shadow: 2px 0 blue;
  }
  60% {
    transform: skew(0.5deg);
    text-shadow: -2px 0 red;
  }
  80% {
    transform: skew(-0.5deg);
    text-shadow: 2px 0 red;
  }
  100% {
    transform: none;
    text-shadow: -2px 0 blue;
  }
} */

@media (max-width: 500px) {
  .devinfoContainer .devinfoLine code {
    margin-top: 0.4rem;
  }

  .devinfoContainer .devinfoLine:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  .devinfoContainer {
    margin-bottom: 0;
  }

  .container {
    padding: 1rem 2rem;
  }

  .note {
    margin-top: 16px;
  }
}
