.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  font-family: var(--font-geist-sans);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80rem;
  padding: 4rem 6rem;
  box-sizing: border-box;
}

.main {
  max-width: 80rem;
  padding: 4rem 6rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  text-align: center;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: var(--font-geist-sans), Arial, sans-serif;
}

.devinfoContainer {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  color: #333;
}

.errorCode {
  margin: 0;
  font-size: 1.6rem;
  color: #000;
  margin-bottom: 1.6rem;
}

.devinfoLine {
  color: #333;
  margin-bottom: 8px;
}

.devinfoLine:last-child {
  margin-bottom: 0;
}

.devinfoLine .code,
.code {
  color: #000;
}

.ownerError {
  text-decoration: none;
  color: #0070f3;
  transition: border-bottom 0.2s ease;
}

.ownerError:hover {
  border-bottom: 1px solid #0070f3;
}

.note {
  padding: 8pt 16pt;
  border-radius: 5px;
  border: 1px solid #0070f3;
  font-size: 14px;
  line-height: 1.8;
  color: #0070f3;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eaeaea;
  height: 100px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
  transition: border-bottom-color 0.2s ease;
}

.footer a:hover {
  border-bottom-color: transparent;
  text-decoration: none;
}

.loadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
