.title {
  color: #ddd;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.timer {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #ff0000;
  background: #222;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  border: 2px solid #ff0000;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .timer {
    font-size: 1.5rem;
  }
}
